/* 
The CSS height and width propeties are used to set the height
and width of an element

The CSS max-width property is used to set the maximum width of an element

*/

 main {
    width: 30px;
    width: 10cm;
    width: 40%;
    width: auto;

    height: 30px;
    height: 10cm;
    height: 40%;
    height: auto;

    max-width: fit-content;
    max-width: max-content;
    max-width: min-content;
    max-width: 100%;
    max-width: 100px;
    max-width: auto;

    max-height: fit-content;
    max-height: max-content;
    max-height: min-content;
    max-height: 100%;
    max-height: 100px;
    max-height: auto;

    min-width: fit-content;
    min-width: max-content;
    min-width: min-content;
    min-width: 100%;
    min-width: 100px;
    min-width: auto;

    min-height: fit-content;
    min-height: max-content;
    min-height: min-content;
    min-height: 100%;
    min-height: 100px;
    min-height: auto;
 }