/* 

The CSS overflow property controls what happens to content that is too big to fit into an area.

*/

div {
    overflow: hidden;
    overflow: scroll;
    overflow: visible;
    overflow: auto;

    overflow-y: hidden;
    overflow-y: scroll;
    overflow-y: visible;
    overflow-y: auto;


    overflow-x: hidden;
    overflow-x: scroll;
    overflow-x: visible;
    overflow-x: auto;

}